rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /feeds/{feedId} {
      allow read: if true;
      allow write: if false;
    }

    match /articles/{articleId} {
      allow read: if true;
      allow write: if false;
    }

    match /clusters/{clusterId} {
      allow read: if true;
      allow write: if false;
    }

    match /trends/{trendId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
